{% extends 'base.html' %}

{% block head %}
<title>Upload</title>
{% endblock %}

{% block body %}
<div>
    <h1>New Post</h1>
    <hr width="1084" >
    <div id="contenidoPost">
        <img src="../../static/images/avatarGris.svg" alt="">
        <div id="comentarioPost">
            <textarea name="comentario"  cols="30" rows="10"></textarea>
            <button> Tag people </button>
            <button> Add location </button>
        </div>
        <img src="../../static/images/placeholder.svg" alt="">
    </div>
</div>

{% endblock %}