{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static " css/reset_password.css" %}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Reset passaword</title>
</head>

<body>
    <div class="container_reset">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card" style="border: 0ch;">
                    <class class="card-body">
                        <div class="crate" style="font-size: x-large; font-weight: bold; text-align:  center;">Reset
                            yout password</div>
                        <br>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">New Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm new Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm"
                                        placeholder="Confirm your Password" />
                                </div>
                            </div>
                        </div>
                        <br>
                            <div class="form-group ">
                                 <button type="button" class="btn btn-primary  btn-block"
                                    style="background-color: #04C35C; border: 0ch; width: 50%; margin: auto;"><a
                                    href="../perfil/" style="color:white;">Confirm change</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>