<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimal working example</title>
</head>
<body>
    <ul id="events"></ul>
    <button onclick="onJoin()">Join</button>
    <button onclick="onStart()">Start</button>
    <button onclick="onVote()">Vote</button>
    <button onclick="onEnd()">End</button>
    <button onclick="onClear()">Clear</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script>
        const $events = document.getElementById('events');

        const newItem = (content) => {
          const item = document.createElement('li');
          item.innerText = content;
          return item;
        };

        const socket = io();

        const onJoin = () => {
          socket.emit('join', 'Mario', socket.id)
        }

        const onStart = () => {
          socket.emit('start')
        }

        const onVote = () => {
          socket.emit('vote', socket.id)
        }

        const onEnd = () => {
          socket.emit('end')
        }

        const onClear = () => {
          socket.emit('clear')
        }

        socket.on('connect', () => {
          
        });
        socket.on('players', data => {
            $events.appendChild(newItem('connect'));
        });
    </script>
</body>
</html>